body {
    background-image: linear-gradient(to bottom right,#DAFFEF, #C5CBD3, #28536B);
    background-repeat: repeat-x;
    padding-right: 40px;
    height: 100vh;
}
.form-group {
    width: 90%;
    background: #e3f2fd;
    border: 2px solid navy; 
    margin-left: 20px; 
    height: 100vh;      
}
.contactMain{
    background: #EDDFEF !important;
    opacity: 0.7;
    border: 2px solid #C5CBD3;    
    margin-top: 70px;
    padding-top: 30px;
    margin-left: 50px !important;
    margin-right: 30px;
    padding-left: 400px;
    padding-bottom: 30px;
}